/ {
    keymap {
        compatible = "zmk,keymap";
        keymap {
            bindings = <
                &button_1
                &button_2
                &button_3
            >;
        };
    };
};
